# Use this file as a template to create your own developer.properties
# Note: Git has been configured to ignore developer.properties to avoid accidentally pushing files with sensitive data.
# Do not write passwords or other sensitive data in this file.

#openBIS
datasource.user = ...
datasource.password = ...
datasource.url = ...
